body{
    background-color: rgb(163, 163, 219);
}
.output{
    height: 200px;
    width: 600px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 300px;
    display: none;
    
}